body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--medium);
}

main{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 320px;
    height: 498px;
    padding: 16px;
    background-color: var(--light);
    border-radius: 19px;
    box-shadow: 0px 20px 10px 0px #CCD8E6;
}

.card .image-link .image{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.card .image-link .image:hover{
    filter: brightness(1.15);
}

.card .info{
    margin: 20px 15px;
}

.card .info .title{
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--heavy-dark);
}

.card .info .description{
    text-align: center;
    font-size: 15px;
    color: var(--dark);
}

.attribution{ 
    font-size: 11px;
    text-align: center;
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}