html{
    font-size: 62.5%;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--medium);
}

main{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 32rem;
    height: 49.8rem;
    padding: 1.6rem;
    background-color: var(--light);
    border-radius: 1.9rem;
    box-shadow: 0rem 2rem 1rem 0rem #CCD8E6;
}

.card .image-link .image{
    max-width: 100%;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}

.card .image-link .image:hover{
    filter: brightness(1.15);
}

.card .info{
    margin: 2rem 1.5rem;
}

.card .info .title{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: var(--heavy-dark);
}

.card .info .description{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark);
}

.attribution{ 
    font-size: 1.1rem;
    text-align: center;
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}